<!DOCTYPE html>
<html style="font-size: 62.5%;">
<head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title></title>
	<link rel="stylesheet" type="text/css" href="/component/am/css/amazeui.flat.min.css"/>
    <link rel="stylesheet" type="text/css" href="/component/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/component/swiper/swiper3.06.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../component/mobilebone/mobilebone.css"/>-->
    <script src="/component/jquery/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/component/am/js/amazeui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/component/swiper/swiper3.06.jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/component/at/template.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/constant.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="../component/mobilebone/mobilebone.js" type="text/javascript" charset="utf-8"></script>-->
</head>