<% include header %>
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
<body>
<div id="index-information" class="index-page-container">
	<div id="index-header">
		<!--<img id="index-logo" src="/img/ppgame_logo.png" />-->
	</div>
	<div id="index-basic">
		<div id="index-head-container">
			<img id="index-head" src="/img/head.jpg"/>
		</div>
		<!--<div id="index-camera-icon" onclick='uc.common.linkTo("setHead.html")'>
			<i class="fa fa-camera"></i>
		</div>-->
		<div id="index-name">
			
		</div>
		<div id="index-btn-container">
			<div id="index-btn-data" class="index-btn" onclick='uc.common.linkTo("/user/myInfo")'>
				<!--<i class="fa fa-user"></i>-->
                <%= myInfo %>
			</div>
			<div id="index-btn-bind" class="index-btn" onclick='uc.common.linkTo("/user/bindAccount")'>
				<!--<i class="fa fa-paperclip"></i>-->
                <%= bindAccount %>
			</div>
			<div id="index-btn-modify" class="index-btn" onclick='uc.common.linkTo("/user/accountSet")'>
				<!--<i class="fa fa-paperclip"></i>-->
                <%= setAccount %>
			</div>
		</div>
	</div>
	<div id="index-app">
		<div id="index-app-title">
            <%= myFav %>
        </div>
		<div id="index-app-list">
			<div class="swiper-container index-swiper-container">
				<div id="swiper-item-container" class="swiper-wrapper index-swiper-wrapper">
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>
<script id="swiper-item" type="text/html">
	{{each apps as value i}}
	<div class="swiper-slide" onclick='window.location.href = "{{value.url}}"'>
    	<div class="index-app-item">
    		<img class="index-app-icon" src="{{value.icon}}"></img>
    		<div class="index-app-text">{{value.name}}</div>
    	</div>
    </div>
    {{/each}}
</script>
</body>
<script type="text/javascript">
var curPage = "";
var swiperIsInit = false;
var tabMap = {
	"index-information": "index-tab-me",
	"index-kefu": "index-tab-kefu"	
}

$(document).ready(function() {
//	initData();
//	initPage();
});

function getQueryString(url) { 
	if(url) { 
		url = url.substr(url.indexOf("?")+1); //字符串截取，比我之前的split()方法效率高 
	} 
	var result = {}, //创建一个对象，用于存name，和value 
	queryString = url || location.search.substring(1), //location.search设置或返回从问号 (?) 开始的 URL（查询部分）。 
	re = /([^&=]+)=([^&]*)/g, //正则，具体不会用 
	m; 
	while (m = re.exec(queryString)) { //exec()正则表达式的匹配，具体不会用 
		result[decodeURIComponent(m[1])] = decodeURIComponent(m[2]); //使用 decodeURIComponent() 对编码后的 URI 进行解码 
	} 
	return result; 
} 

function initData () {
	var urlStr = document.location.href;
	var urlData = getQueryString(urlStr);
	if (urlData && !$.isEmptyObject(urlData)) {
		uc.sessionStorage.set(KEY_GAME_DATA, urlData);
	}
	var gameData = uc.sessionStorage.get(KEY_GAME_DATA);
	$("#index-name").text(gameData.account);
}

function initPage () {
	var data = {
		openid: 1
	}
	uc.req.post(URL_GET_HOME_INFO, data, function(result, data) {
		if (result) {
//			var headUrl = data.headUrl;
//			if (headUrl) {
//				$("#index-head").attr("src", headUrl);
//			}
//			else {
//				$("#index-head").attr("src", "/img/head.jpg");
//			}
			var swiperHtml = template("swiper-item", data);
			$("#swiper-item-container").html(swiperHtml);
			initSwiper();
		}
	});
	
	var userInfoData = {
		
	}
	uc.req.post(URL_USERINFO_GET, userInfoData, function(result, data) {
		if (result) {
			if (data.data.state == 5) {
				$("#index-btn-bind").css("display", "inline-block");
			}
			else {
				$("#index-btn-modify").css("display", "inline-block");
			}
			if (data.data.telphone) {
				uc.sessionStorage.set(KEY_CUR_PHONE, data.data.telphone);
			}
			if (data.data.email) {
				uc.sessionStorage.set(KEY_CUR_EMAIL, data.data.email);
			}
		}
	});
}

function initSwiper () {
	var mySwiper = new Swiper('.swiper-container',{
	slidesPerView : 3,
	slidesPerGroup : 3,
	pagination : '.swiper-pagination',
	});
}
</script>
</html>