<% include header %>
<link rel="stylesheet" type="text/css" href="/css/myMsg.css"/>
<body class="uc-bg-normal">
	<header class="uc-header-normal uc-header-bg">
		<div class="uc-header-back" onclick='uc.common.linkTo("/user")'>
			<i class="fa fa-angle-left"></i>
		</div>
		<div class="uc-header-text">
			<%= title %>
		</div>
	</header>
	<div id="mm-list-container">
		<div id="" class="uc-button-group">
			<div class="mm-list-item" onclick='uc.common.linkTo("")'>
				<div class="mm-list-content">
					<div class="mm-list-title">
						游戏维护通知
					</div>
					<div class="mm-list-intro">
						游戏维护通知游戏维护通知…
					</div>
					<div class="mm-list-datetime">
						2015/4/27 17:30
					</div>
				</div>
				<i class="fa fa-angle-right uc-button-arrow mm-list-arrow"></i>
			</div>
		</div>
	</div>
</body>
</html>
